<div class="flex flex-col md:flex-row h-full">
  @if(this.searchService.tabValue$() == 0){
  <div class="h-2/5 md:h-full md:w-2/5">
    <!-- map of institutions -->
    <app-map> </app-map>
  </div>
  }

  <div class="h-3/5 md:h-full md:w-3/5 md:min-h-0">
    <p-scroll-panel [style]="{ width: '100%', height: '100%' }"
      ><!-- choose between institutions and courses -->
      <p-tabs
        [value]="this.searchService.tabValue$()"
        (valueChange)="searchService.changeTab($event)"
        class="h-full"
      >
        <p-tablist>
          <p-tab value="0">{{ "buttons.institutions" | translate }}</p-tab>
          <p-tab value="1">{{ "buttons.courses" | translate }}</p-tab>
        </p-tablist>
        <p-tabpanels>
          <p-tabpanel value="0">
            <!-- institutions list and filters -->
            <div>
              <app-institutions> </app-institutions>
            </div>
          </p-tabpanel>
          <p-tabpanel value="1">
            <!-- courses list and filters -->
            <div>
              <app-courses> </app-courses>
            </div>
          </p-tabpanel>
        </p-tabpanels>
      </p-tabs>
    </p-scroll-panel>
  </div>
</div>
