<div class="flex flex-col md:flex-row h-full">
  @if(this.searchService.tabValue$() == 0){
  <div class="w-full md:w-[30%] h-[30%] md:h-full">
    <app-map> </app-map>
  </div>
  }

  <div class="w-full md:w-[70%] h-full">
    <p-tabs
      [value]="this.searchService.tabValue$()"
      (valueChange)="searchService.changeTab($event)"
      class="h-full"
    >
      <p-tablist>
        <p-tab value="0">{{ "buttons.institutions" | translate }}</p-tab>
        <p-tab value="1">{{ "buttons.courses" | translate }}</p-tab>
      </p-tablist>
      <p-tabpanels>
        <p-tabpanel value="0">
          <div>
            <app-institutions> </app-institutions>
          </div>
        </p-tabpanel>
        <p-tabpanel value="1">
          <div>
            <app-courses> </app-courses>
          </div>
        </p-tabpanel>
      </p-tabpanels>
    </p-tabs>
  </div>
</div>
