SPRING_DATASOURCE_URL=jdbc:postgresql://db:5432/unicoursefinder
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=unicoursefinder

FRONTEND_ORIGIN=http://localhost:4200

ISSUER_URI=https://auth.jrmsys.com/realms/unicoursefinder
JWK_SET_URI=https://auth.jrmsys.com/realms/unicoursefinder/protocol/openid-connect/certs

KEYCLOAK_SERVER_URL=https://auth.jrmsys.com
KEYCLOAK_REALM=unicoursefinder
KEYCLOAK_CLIENT_ID=unicoursefinder-backend
KEYCLOAK_BACKEND_SERVICE_SECRET= paste the secret from the keycloak console