SPRING_DATASOURCE_URL=jdbc:postgresql://postgres_core:5432/unicoursefinder_db
POSTGRES_UNICOURSEFINDER_USER=username
POSTGRES_UNICOURSEFINDER_PASSWORD=changemeinprod

FRONTEND_ORIGIN=https://omeucurso.pt

ISSUER_URI=https://auth.jrmsys.com/realms/unicoursefinder
JWK_SET_URI=http://keycloak_core:8080/realms/unicoursefinder/protocol/openid-connect/certs

KEYCLOAK_SERVER_URL=http://keycloak_core:8080
KEYCLOAK_REALM=unicoursefinder
KEYCLOAK_CLIENT_ID=unicoursefinder-backend
KEYCLOAK_BACKEND_SERVICE_SECRET=paste the secret from the keycloak console
