<div class="search-page">
  <h2>{{ "institutions.list" | translate }}</h2>
  <div *ngIf="loadingInstitutions">
    {{ "institutions.loading" | translate }}
  </div>
  <div *ngIf="errorInstitutions">{{ errorInstitutions }}</div>

  <div *ngIf="!loadingInstitutions && !errorInstitutions">
    !---------- aqui vai estar um mapa! ----------!
    <br />
    <div>
      <input
        type="text"
        [(ngModel)]="institutionNameFilter"
        (input)="filterInstitutions()"
        placeholder="{{ 'institutions.name' | translate }}"
      />

      <div>
        <strong>Distritos:</strong>
        <div *ngFor="let district of districtsInstitutions">
          <input
            type="checkbox"
            [checked]="institutionDistrictFilter.includes(district)"
            (change)="toggleFilters(district, institutionDistrictFilter)"
            id="district-{{ district }}"
          />
          <label [for]="'district-' + district">{{ district }}</label>
        </div>
      </div>

      <div>
        <strong>Tipos:</strong>
        <div *ngFor="let type of typesInstitutions">
          <input
            type="checkbox"
            [checked]="institutionTypeFilter.includes(type)"
            (change)="toggleFilters(type, institutionTypeFilter)"
            id="type-{{ type }}"
          />
          <label [for]="'type-' + type">{{ type }}</label>
        </div>
      </div>
    </div>
    <br />
    <ul>
      <li *ngFor="let institution of filteredInstitutions">
        {{ institution.name }}
      </li>
    </ul>
  </div>

  <h2>{{ "courses.list" | translate }}</h2>
  <div *ngIf="loadingCourses">{{ "courses.loading" | translate }}</div>
  <div *ngIf="errorCourses">{{ errorCourses }}</div>
  <ul *ngIf="!loadingCourses && !errorCourses">
    <li *ngFor="let course of courses">
      {{ course.name }}
    </li>
  </ul>
</div>
