<div class="search-page">
  <!-- loading and error messages for institutions -->
  <div *ngIf="loadingInstitutions">
    {{ "map.loading" | translate }}
  </div>

  <!-- title and map of institutions -->
  <div *ngIf="!loadingInstitutions && !errorInstitutions">
    <!-- title for map of institutions -->
    <h2>{{ "map.title" | translate }}</h2>
    <!-- map of institutions -->
    <app-map [institutions]="getFilteredInstitutions"></app-map>
  </div>

  <!-- buttons to choose between institutions and courses -->
  <div class="flex justify-center gap-4 w-fit mx-auto">
    <app-button
      [label]="'buttons.institutions' | translate"
      (click)="seeingInstitutions = true"
    ></app-button>
    <app-button
      [label]="'buttons.courses' | translate"
      (click)="onCoursesClick()"
    ></app-button>
  </div>

  <!-- loading and error messages for institutions -->
  <div *ngIf="loadingInstitutions && seeingInstitutions">
    {{ "institutions.loading" | translate }}
  </div>
  <div *ngIf="errorInstitutions && seeingInstitutions">
    {{ errorInstitutions }}
  </div>

  <!-- institutions and filters -->
  <div *ngIf="!loadingInstitutions && !errorInstitutions && seeingInstitutions">
    <!-- title for institutions -->
    <h2 class="!ms-5">{{ "institutions.list" | translate }}</h2>
    <!-- filters -->
    <div class="md:max-h-[200px] grid grid-cols-1 md:grid-cols-12 gap-4 m-5">
      <!-- types -->
      <div class="md:col-span-4 inline-block overflow-hidden">
        <p class="font-bold mb-2">{{ "filters.types" | translate }}:</p>
        <ul class="institutions-courses-list grid grid-col-1 gap-2">
          <li *ngFor="let type of typesInstitutions">
            <input
              type="checkbox"
              [checked]="institutionTypeFilter.includes(type)"
              (change)="toggleFilters(type, institutionTypeFilter)"
              id="type-{{ type }}"
            />
            <label [for]="'type-' + type">{{ type }}</label>
          </li>
        </ul>
      </div>
      <!-- districts -->
      <div class="md:col-span-6 inline-block overflow-hidden">
        <p class="font-bold">{{ "filters.districts" | translate }}:</p>
        <ul
          class="institutions-courses-list grid grid-col-1 md:grid-cols-4 gap-2"
        >
          <li *ngFor="let district of districtsInstitutions">
            <input
              type="checkbox"
              [checked]="institutionDistrictFilter.includes(district)"
              (change)="toggleFilters(district, institutionDistrictFilter)"
              id="district-{{ district }}"
            />
            <label [for]="'district-' + district">{{ district }}</label>
          </li>
        </ul>
      </div>
      <!-- name -->
      <div class="md:col-span-2 inline-block overflow-hidden">
        <p class="font-bold">{{ "filters.name" | translate }}:</p>
        <mat-form-field class="example-form-field">
          <input
            matInput
            type="text"
            [(ngModel)]="institutionNameFilter"
            (input)="filterInstitutions()"
            placeholder="{{ 'institutions.name' | translate }}"
          />
          @if (institutionNameFilter) {
          <button
            matSuffix
            mat-icon-button
            aria-label="Clear"
            (click)="institutionNameFilter = ''; filterInstitutions()"
          >
            <mat-icon>close</mat-icon>
          </button>
          }
        </mat-form-field>
      </div>
    </div>
    <!-- list of institutions -->
    <div class="m-5">
      <ul class="institutions-courses-list">
        <li *ngFor="let institution of paginatedInstitutions">
          {{ institution.name }}
        </li>
      </ul>
      <mat-paginator
        #institutionPaginator
        class="demo-paginator"
        (page)="handlePageEvent($event)"
        [length]="filteredInstitutions.length"
        [pageSize]="10"
        [showFirstLastButtons]="true"
        [pageSizeOptions]="[5, 10, 20, 50, 100, institutions.length]"
        aria-label="Select page"
      >
      </mat-paginator>
    </div>
  </div>

  <!-- loading and error messages for courses -->
  <div *ngIf="loadingPaginatedCourses && !seeingInstitutions">
    {{ "courses.loading" | translate }}
  </div>
  <div *ngIf="errorPaginatedCourses && !seeingInstitutions">
    {{ errorPaginatedCourses }}
  </div>

  <!-- courses and filters -->
  <div
    *ngIf="
      !loadingPaginatedCourses && !errorPaginatedCourses && !seeingInstitutions
    "
  >
    <!-- title for courses -->
    <h2>{{ "courses.list" | translate }}</h2>
    <!-- filters -->
    <!-- list of courses -->
    <ul class="institutions-courses-list">
      <li *ngFor="let course of paginatedCourses.courses">
        {{ course.name }}
      </li>
    </ul>
  </div>
</div>
