@use "sass:map";
@use "@angular/material" as mat;
@use "custom-theme-colors" as custom;

html {
  color-scheme: light;
  background-color: map.get(map.get(custom.$primary-palette, secondary), 95);

  // Theme
  @include mat.theme(
    (
      color: (
        primary: custom.$primary-palette,
        tertiary: custom.$tertiary-palette,
        use-system-variables: true,
      ),
      typography: Roboto,
      density: 0,
    )
  );

  // Use high contrast values when users prefer contrast
  @media (prefers-contrast: more) {
    @include custom.high-contrast-overrides(color-scheme);
  }

  // Overrides for mat-list
  @include mat.list-overrides(
    (
      list-item-hover-label-text-color: map.get(custom.$primary-palette, 30),
      list-item-hover-state-layer-color: map.get(custom.$primary-palette, 30),
    )
  );
}
