@use "@angular/material" as mat;
@use "custom-theme-colors" as custom;
@use "sass:map";


html {
  color-scheme: light;
  background-color: map.get(custom.$primary-palette, 90);


  @include mat.theme(
    (
      color: (
        primary: custom.$primary-palette,
        tertiary: custom.$tertiary-palette,
      ),
      typography: Roboto,
      density: 0,
    )
  );

  // Use high contrast values when users prefer contrast
  @media (prefers-contrast: more) {
    @include custom.high-contrast-overrides(color-scheme);
  }
}
