<!-- filters -->
<div class="md:max-h-[200px] grid grid-cols-1 md:grid-cols-12 gap-4 m-5">
  <!-- types -->
  <div class="md:col-span-2 inline-block overflow-hidden">
    <p class="font-bold mb-2">{{ "filters.types" | translate }}:</p>
    <ul class="grid grid-col-1 gap-2" aria-label="Lista de tipos de cursos">
      <li *ngFor="let type of typesCourses">
        <input
          type="checkbox"
          [checked]="courseTypeFilter.includes(type)"
          (change)="
            commonSearchService.toggleFilters(type, courseTypeFilter);
            searchCourses(1, 10, true)
          "
          id="type-{{ type }}"
        />
        <label [for]="'type-' + type">{{ type }}</label>
      </li>
    </ul>
  </div>
  <!-- institutions id's -->
  <div class="md:col-span-8 block overflow-hidden mr-10">
    <mat-form-field class="w-full">
      <mat-label>{{ "filters.institutionsIds" | translate }}</mat-label>
      <mat-select
        [formControl]="courseInstitutionIdFilter"
        (selectionChange)="searchCourses(1, 10, true)"
        multiple
      >
        <mat-form-field class="example-form-field"
          ><input
            matInput
            type="text"
            [(ngModel)]="courseInstitutionNameFilter"
            (ngModelChange)="filterInstitutionsByName()"
            placeholder="{{ 'institutions.name' | translate }}"
            aria-label="Filtro por nome de instituições"
          />
          <button
            *ngIf="courseInstitutionNameFilter"
            matSuffix
            mat-icon-button
            aria-label="Limpar filtro de nome de instituições"
            (click)="
              courseInstitutionNameFilter = ''; filterInstitutionsByName()
            "
          >
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
        <mat-option
          *ngFor="let institution of institutionsFilteredByName"
          [value]="institution.id"
          >{{ institution.name }}
        </mat-option>
      </mat-select>
      <button
        *ngIf="courseInstitutionIdFilter"
        matSuffix
        mat-icon-button
        aria-label="Limpar seleção de instituições"
        (click)="courseInstitutionIdFilter.setValue([])"
      >
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </div>
  <!-- name -->
  <div class="md:col-span-2 inline-block overflow-hidden">
    <p class="font-bold">{{ "filters.name" | translate }}:</p>
    <mat-form-field class="example-form-field">
      <input
        matInput
        type="text"
        [(ngModel)]="courseNameFilter"
        (ngModelChange)="onCourseNameInput($event)"
        placeholder="{{ 'courses.name' | translate }}"
        aria-label="Filtro por nome"
      />
      <button
        *ngIf="courseNameFilter"
        matSuffix
        mat-icon-button
        aria-label="Limpar filtro de nome"
        (click)="onCourseNameInput('')"
      >
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </div>
</div>

<div class="list-container">
  <!-- loading and error messages -->
  <div *ngIf="loadingPaginatedCourses && !seeingInstitutions">
    <mat-spinner></mat-spinner>
    <p class="!m-5 text-center">{{ "courses.loading" | translate }}</p>
  </div>
  <div *ngIf="errorPaginatedCourses && !seeingInstitutions">
    <p class="!m-5 text-center">{{ errorPaginatedCourses }}</p>
  </div>
  <!-- list -->
  <ul
    class=""
    [hidden]="loadingPaginatedCourses || errorPaginatedCourses"
    aria-label="Lista de instituições"
  >
    <li
      *ngFor="let course of coursesPaginated.courses; trackBy: trackByCourse"
      class="list-bullet-point"
    >
      <a [href]="course.link" target="_blank">
        <p class="font-bold !m-0">{{ course.name }}</p>
        <p class="italic">{{ getInstitutionName(course.institutionId) }}</p>
      </a>
    </li>
  </ul>
  <!-- paginator -->
  <mat-paginator
    #coursesPaginator
    class="demo-paginator"
    (page)="searchCourses($event.pageIndex + 1, $event.pageSize, false)"
    [length]="coursesPaginated.totalElements"
    [showFirstLastButtons]="true"
    [pageSizeOptions]="
      commonSearchService.getPageSizeOptions(coursesPaginated.totalElements)
    "
    [attr.aria-label]="'institutions.loading' | translate"
  >
  </mat-paginator>
</div>
