<!-- filters -->
<mat-expansion-panel class="filter-expansion-panel">
  <mat-expansion-panel-header>
    <mat-panel-title>{{ "filters.filters" | translate }}:</mat-panel-title>
  </mat-expansion-panel-header>
  <div class="filter-container">
    <!-- types -->
    <div class="md:col-span-3">
      <mat-form-field class="w-full">
        <mat-label>{{ "filters.types" | translate }}</mat-label>
        <mat-select
          [formControl]="courseTypeFilter"
          multiple
          (selectionChange)="searchCourses(1, 10, true)"
        >
          <mat-select-trigger>
            {{courseTypeFilter.value?.[0] || ''}}
            <span
              *ngIf="(courseTypeFilter.value?.length || 0) > 1"
              class="example-additional-selection"
            >
              (+{{ (courseTypeFilter.value?.length || 0) - 1 }})
            </span>
          </mat-select-trigger>
          <mat-option *ngFor="let type of typesCourses" [value]="type">{{
            type
          }}</mat-option>
        </mat-select>
        <button
          *ngIf="(courseTypeFilter.value?.length ?? 0) > 0"
          matSuffix
          mat-icon-button
          aria-label="Limpar seleção de tipos"
          (click)="courseTypeFilter.setValue([]); searchCourses(1, 10, true)"
          class="!p0 mx-2"
        >
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    </div>
    <!-- institutions id's -->
    <div class="md:col-span-6">
      <mat-form-field class="w-full">
        <mat-label>{{ "filters.institutionsIds" | translate }}</mat-label>
        <mat-select
          [formControl]="courseInstitutionIdFilter"
          multiple
          (selectionChange)="searchCourses(1, 10, true)"
        >
          <mat-form-field class="w-full"
            ><input
              matInput
              type="text"
              [(ngModel)]="courseInstitutionNameFilter"
              (ngModelChange)="filterInstitutionsByName()"
              placeholder="{{ 'institutions.name' | translate }}"
              aria-label="Filtro por nome de instituições"
            />
            <button
              *ngIf="courseInstitutionNameFilter"
              matSuffix
              mat-icon-button
              aria-label="Limpar filtro de nome de instituições"
              (click)="
                courseInstitutionNameFilter = ''; filterInstitutionsByName()
              "
              class="!p0 mx-2"
            >
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
          <mat-option
            *ngFor="let institution of institutionsFilteredByName"
            [value]="institution.id"
            >{{ institution.name }}
          </mat-option>
        </mat-select>
        <button
          *ngIf="(courseInstitutionIdFilter.value?.length ?? 0) > 0"
          matSuffix
          mat-icon-button
          aria-label="Limpar seleção de instituições"
          (click)="
            courseInstitutionIdFilter.setValue([]); searchCourses(1, 10, true)
          "
          class="!p0 mx-2"
        >
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    </div>
    <!-- name -->
    <div class="md:col-span-3">
      <mat-form-field class="example-form-field w-full">
        <input
          matInput
          type="text"
          [(ngModel)]="courseNameFilter"
          (ngModelChange)="onCourseNameInput($event)"
          placeholder="{{ 'courses.name' | translate }}"
          aria-label="Filtro por nome"
        />
        <button
          *ngIf="courseNameFilter"
          matSuffix
          mat-icon-button
          aria-label="Limpar filtro de nome"
          (click)="onCourseNameInput('')"
          class="!p0 mx-2"
        >
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    </div>
  </div>
</mat-expansion-panel>

<div class="list-container">
  <!-- loading and error messages -->
  <div *ngIf="loadingPaginatedCourses && !seeingInstitutions">
    <mat-spinner></mat-spinner>
    <p class="!m-5 text-center">{{ "courses.loading" | translate }}</p>
  </div>
  <div *ngIf="errorPaginatedCourses && !seeingInstitutions">
    <p class="!m-5 text-center">{{ errorPaginatedCourses }}</p>
  </div>
  <!-- list -->
  <mat-selection-list
    [hidden]="loadingPaginatedCourses || errorPaginatedCourses"
    aria-label="Lista de instituições"
  >
    <mat-list-item
      *ngFor="let course of coursesPaginated.courses; trackBy: trackByCourse"
      class="list-bullet-point"
    >
      <a [href]="course.link" target="_blank">
        <p class="font-bold !m-0">{{ course.name }}</p>
        <p class="italic">{{ getInstitutionName(course.institutionId) }}</p>
      </a>
    </mat-list-item>
  </mat-selection-list>
  <!-- paginator -->
  <mat-paginator
    #coursesPaginator
    class="demo-paginator"
    (page)="searchCourses($event.pageIndex + 1, $event.pageSize, false)"
    [length]="coursesPaginated.totalElements"
    [showFirstLastButtons]="true"
    [pageSizeOptions]="
      commonSearchService.getPageSizeOptions(coursesPaginated.totalElements)
    "
    [attr.aria-label]="'institutions.loading' | translate"
  >
  </mat-paginator>
</div>
