@import "tailwindcss";
@import "primeicons/primeicons.css";

// todo: trocar de sitio
@import "leaflet.markercluster/dist/MarkerCluster.css";
@import "leaflet.markercluster/dist/MarkerCluster.Default.css";

html {
  height: 100%;
}

body {
  height: 100%;
  font-family: "Exo 2";
}
