<form
  [formGroup]="loginForm"
  (ngSubmit)="loginRequest()"
  class="flex flex-col justify-center items-center gap-3"
>
  <app-email formControlName="email" class="w-full"></app-email>
  <app-pw formControlName="password" class="w-full"></app-pw>

  <p-button
    [label]="'auth.loginRequest' | translate"
    [disabled]="loginForm.invalid"
    type="submit"
  />
</form>

<p class="mt-10 text-center text-sm text-gray-500">
  <a href="#" class="login-links">{{ "auth.pwRecover" | translate }}</a>
  <br />
  {{ "auth.notRegistered" | translate }}
  <a routerLink="/register" class="login-links">{{
    "auth.register" | translate
  }}</a>
</p>
