<div>
  <!-- loading message for map -->
  <div *ngIf="loadingInstitutions">
    <p class="!m-5 text-center">{{ "map.loading" | translate }}</p>
  </div>

  <!-- map and his title -->
  <div *ngIf="!loadingInstitutions && !errorInstitutions">
    <!-- map of institutions -->
    <app-map [institutions]="getFilteredInstitutions"></app-map>
  </div>

  <!-- choose between institutions and courses -->
  <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="center">
    <mat-tab label="Instituições">
      <!-- institutions list and filters -->
      <div [hidden]="!seeingInstitutions">
        <app-institutions
          (triggerActionSearch)="callSearchCoursesByInstitutionId($event)"
          (triggerActionMap)="callUpdateMap()"
          [institutions]="institutions"
          (institutionsOutput)="institutions = $event"
          [institutionsFiltered]="institutionsFiltered"
          (institutionsFilteredOutput)="institutionsFiltered = $event"
          [loadingInstitutions]="loadingInstitutions"
          (loadingInstitutionsOutput)="loadingInstitutions = $event"
          [loadingTypesInstitutions]="loadingTypesInstitutions"
          (loadingTypesInstitutionsOutput)="loadingTypesInstitutions = $event"
          [loadingDistrictsInstitutions]="loadingDistrictsInstitutions"
          (loadingDistrictsInstitutionsOutput)="
            loadingDistrictsInstitutions = $event
          "
          [errorInstitutions]="errorInstitutions"
          (errorInstitutionsOutput)="errorInstitutions = $event"
        >
        </app-institutions>
      </div>
    </mat-tab>
    <mat-tab label="Cursos">
      <!-- courses list and filters -->
      <div
        *ngIf="
          !loadingInstitutions &&
          !loadingTypesInstitutions &&
          !loadingDistrictsInstitutions
        "
      >
        <app-courses [institutions]="institutions"> </app-courses>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
