<!-- loading message for map -->
@if (this.searchService.loadingInstitutions()) {
<p class="!m-5 text-center">{{ "map.loading" | translate }}</p>
}

<!-- map and his title -->
@if (!this.searchService.loadingInstitutions() &&
!this.searchService.errorInstitutions()) {
<!-- map of institutions -->
<app-map></app-map>
}

<!-- choose between institutions and courses -->
<div class="card">
  <p-tabs
    [value]="this.searchService.tabValue()"
    (valueChange)="searchService.changeTab($event)"
  >
    <p-tablist>
      <p-tab value="0">{{ "buttons.institutions" | translate }}</p-tab>
      <p-tab value="1">{{ "buttons.courses" | translate }}</p-tab>
    </p-tablist>
    <p-tabpanels>
      <p-tabpanel value="0">
        <!-- institutions list and filters -->
        <div>
          <app-institutions> </app-institutions>
        </div>
      </p-tabpanel>
      <p-tabpanel value="1">
        <!-- courses list and filters -->
        @if ( !this.searchService.loadingInstitutions() &&
        !this.searchService.loadingTypesInstitutions() &&
        !this.searchService.loadingDistrictsInstitutions() ) {
        <div>
          <app-courses> </app-courses>
        </div>
        }
      </p-tabpanel>
    </p-tabpanels>
  </p-tabs>
</div>
