<div>
  <!-- loading message for map -->
  <div *ngIf="loadingInstitutions">
    <p class="!m-5 text-center">{{ "map.loading" | translate }}</p>
  </div>

  <!-- map and his title -->
  <div *ngIf="!loadingInstitutions && !errorInstitutions">
    <!-- map title -->
    <h2 class="!ms-5 !my-2">{{ "map.title" | translate }}:</h2>
    <!-- map of institutions -->
    <app-map [institutions]="getFilteredInstitutions"></app-map>
  </div>

  <!-- buttons to choose between institutions and courses -->
  <div class="flex justify-center gap-4 w-fit mx-auto my-2">
    <app-button
      [label]="'buttons.institutions' | translate"
      (click)="seeingInstitutions = true"
      aria-label="Encontrar instituições"
    ></app-button>
    <app-button
      [label]="'buttons.courses' | translate"
      (click)="onCoursesClick()"
      aria-label="Encontrar cursos"
    ></app-button>
  </div>

  <!-- institutions list and filters -->
  <div [hidden]="!seeingInstitutions">
    <!-- title -->
    <h2 class="!ms-5 !my-2">{{ "institutions.list" | translate }}:</h2>
    <app-institutions
      (triggerActionSearch)="callSearchCoursesByInstitutionId($event)"
      (triggerActionMap)="callUpdateMap()"
      [institutions]="institutions"
      (institutionsOutput)="institutions = $event"
      [institutionsFiltered]="institutionsFiltered"
      (institutionsFilteredOutput)="institutionsFiltered = $event"
      [loadingInstitutions]="loadingInstitutions"
      (loadingInstitutionsOutput)="loadingInstitutions = $event"
      [loadingTypesInstitutions]="loadingTypesInstitutions"
      (loadingTypesInstitutionsOutput)="loadingTypesInstitutions = $event"
      [loadingDistrictsInstitutions]="loadingDistrictsInstitutions"
      (loadingDistrictsInstitutionsOutput)="
        loadingDistrictsInstitutions = $event
      "
      [errorInstitutions]="errorInstitutions"
      (errorInstitutionsOutput)="errorInstitutions = $event"
      [seeingInstitutions]="seeingInstitutions"
    >
    </app-institutions>
  </div>

  <!-- courses list and filters -->
  <div
    *ngIf="
      !loadingInstitutions &&
      !loadingDistrictsInstitutions &&
      !loadingTypesInstitutions
    "
    [hidden]="seeingInstitutions"
  >
    <!-- title -->
    <h2 class="!ms-5 !my-2">{{ "courses.list" | translate }}:</h2>
    <app-courses
      [institutions]="institutions"
      [seeingInstitutions]="seeingInstitutions"
      (seeingInstitutionsOutput)="seeingInstitutions = $event"
    >
    </app-courses>
  </div>
</div>
