<p-floatlabel class="w-full" variant="in"
  ><input
    #emailInput
    pInputText
    id="email"
    type="text"
    class="w-full"
    [value]="value"
    [disabled]="isDisabled"
    (input)="onChange(emailInput.value)"
    (blur)="onTouched(); checkEmail()"
    [ngClass]="{
      'ng-invalid ng-dirty': ngControl?.invalid && ngControl?.touched
    }"
  />
  <label for="email">{{ "auth.email" | translate }}</label>
</p-floatlabel>
@if (ngControl?.invalid && ngControl?.touched) {
<div class="w-full flex flex-col justify-start">
  @if (ngControl?.hasError('required')) {
  <span style="color: var(--p-form-field-invalid-placeholder-color)">{{
    "errors.required" | translate
  }}</span>
  } @if (ngControl?.hasError('email')) {
  <span style="color: var(--p-form-field-invalid-placeholder-color)">{{
    "errors.email" | translate
  }}</span>
  } @if (ngControl?.hasError('minlength')) {
  <span style="color: var(--p-form-field-invalid-placeholder-color)">{{
    "errors.minLength3" | translate
  }}</span>
  } @if (ngControl?.hasError('maxlength')) {
  <span style="color: var(--p-form-field-invalid-placeholder-color)">{{
    "errors.maxLength" | translate
  }}</span>
  }
</div>
}
