<div class="p-8">
  <h1 class="font-bold pb-4">{{ "privacyPolicy.title" | translate }}</h1>
  <p>
    <em>{{ "privacyPolicy.lastUpdated" | translate }}</em>
  </p>
  <p>{{ "privacyPolicy.intro" | translate }}</p>

  <h2 class="font-bold pt-2">
    {{ "privacyPolicy.section1Title" | translate }}
  </h2>
  <a href="https://www.linkedin.com/in/joaormorais/"
    >https://www.linkedin.com/in/joaormorais/</a
  >

  <h2 class="font-bold pt-2">
    {{ "privacyPolicy.section2Title" | translate }}
  </h2>
  <p>{{ "privacyPolicy.section2Body" | translate }}</p>

  <h2 class="font-bold pt-2">
    {{ "privacyPolicy.section3Title" | translate }}
  </h2>
  <p>{{ "privacyPolicy.section3Body" | translate }}</p>

  <h2 class="font-bold pt-2">
    {{ "privacyPolicy.section4Title" | translate }}
  </h2>
  <p>{{ "privacyPolicy.section4Body" | translate }}</p>

  <h2 class="font-bold pt-2">
    {{ "privacyPolicy.section5Title" | translate }}
  </h2>
  <p>{{ "privacyPolicy.section5Body" | translate }}</p>
  <a href="https://www.linkedin.com/in/joaormorais/"
    >https://www.linkedin.com/in/joaormorais/</a
  >
</div>
