<!-- filters -->
<mat-expansion-panel class="filter-expansion-panel">
  <mat-expansion-panel-header>
    <mat-panel-title>{{ "filters.filters" | translate }}:</mat-panel-title>
  </mat-expansion-panel-header>
  <div class="filter-container">
    <!-- types -->
    <div class="md:col-span-4">
      <mat-form-field class="w-full">
        <mat-label>{{ "filters.types" | translate }}</mat-label>
        <mat-select
          [formControl]="institutionTypeFilter"
          multiple
          (selectionChange)="
            this.searchService.filterInstitutions(
              institutionNameFilter,
              institutionTypeFilter.value,
              institutionDistrictFilter.value
            )
          "
        >
          <mat-select-trigger>
            {{institutionTypeFilter.value?.[0] || ''}}
            @if ((institutionTypeFilter.value?.length || 0) > 1) {
            <span class="example-additional-selection">
              (+{{ (institutionTypeFilter.value?.length || 0) - 1 }})
            </span>
            }
          </mat-select-trigger>
          @for (type of this.searchService.typesInstitutions(); track type) {
          <mat-option [value]="type">{{ type }}</mat-option>
          }
        </mat-select>
        @if ((institutionTypeFilter.value?.length ?? 0) > 0) {
        <button
          matSuffix
          [attr.aria-label]="'ariaLabels.clearTypes' | translate"
          (click)="
            institutionTypeFilter.setValue([]);
            this.searchService.filterInstitutions(
              institutionNameFilter,
              institutionTypeFilter.value,
              institutionDistrictFilter.value
            )
          "
          class="!p0 mx-2"
        >
          <mat-icon>close</mat-icon>
        </button>
        }
      </mat-form-field>
    </div>
    <!-- districts -->
    <div class="md:col-span-4">
      <mat-form-field class="w-full">
        <mat-label>{{ "filters.districts" | translate }}</mat-label>
        <mat-select
          [formControl]="institutionDistrictFilter"
          multiple
          (selectionChange)="
            this.searchService.filterInstitutions(
              institutionNameFilter,
              institutionTypeFilter.value,
              institutionDistrictFilter.value
            )
          "
        >
          <mat-select-trigger>
            {{institutionDistrictFilter.value?.[0] || ''}}
            @if ((institutionDistrictFilter.value?.length || 0) > 1) {
            <span class="example-additional-selection">
              (+{{ (institutionDistrictFilter.value?.length || 0) - 1 }})
            </span>
            }
          </mat-select-trigger>
          @for (district of this.searchService.districtsInstitutions(); track
          district) {
          <mat-option [value]="district">{{ district }}</mat-option>
          }
        </mat-select>
        @if ((institutionDistrictFilter.value?.length ?? 0) > 0) {
        <button
          matSuffix
          [attr.aria-label]="'ariaLabels.clearDistricts' | translate"
          (click)="
            institutionDistrictFilter.setValue([]);
            this.searchService.filterInstitutions(
              institutionNameFilter,
              institutionTypeFilter.value,
              institutionDistrictFilter.value
            )
          "
          class="!p0 mx-2"
        >
          <mat-icon>close</mat-icon>
        </button>
        }
      </mat-form-field>
    </div>
    <!-- name -->
    <div class="md:col-span-4">
      <mat-form-field class="w-full">
        <mat-label>{{ "institutions.name" | translate }}</mat-label>
        <input
          matInput
          type="text"
          [(ngModel)]="institutionNameFilter"
          (input)="
            this.searchService.filterInstitutions(
              institutionNameFilter,
              institutionTypeFilter.value,
              institutionDistrictFilter.value
            )
          "
          placeholder="{{ 'institutions.name' | translate }}"
          [attr.aria-label]="'ariaLabels.filterByName' | translate"
        />
        @if (institutionNameFilter) {
        <button
          matSuffix
          [attr.aria-label]="'ariaLabels.clearName' | translate"
          (click)="
            institutionNameFilter = '';
            this.searchService.filterInstitutions(
              institutionNameFilter,
              institutionTypeFilter.value,
              institutionDistrictFilter.value
            )
          "
          class="!p0 mx-2"
        >
          <mat-icon>close</mat-icon>
        </button>
        }
      </mat-form-field>
    </div>
  </div>
</mat-expansion-panel>

<div class="list-container">
  <!-- loading and error messages -->
  @if ( this.searchService.loadingInstitutions() ||
  this.searchService.loadingTypesInstitutions() ||
  this.searchService.loadingDistrictsInstitutions() ) {
  <div class="flex flex-col items-center">
    <mat-spinner></mat-spinner>
    <p class="!m-5">{{ "institutions.loading" | translate }}</p>
  </div>
  } @if (this.searchService.errorInstitutions()) {
  <div>
    <p class="!m-5 text-center">{{ this.searchService.errorInstitutions() }}</p>
  </div>
  }
  <!-- list -->
  <mat-selection-list
    [hidden]="
      this.searchService.loadingInstitutions() ||
      this.searchService.loadingTypesInstitutions() ||
      this.searchService.loadingDistrictsInstitutions() ||
      this.searchService.errorInstitutions()
    "
    [attr.aria-label]="'ariaLabels.institutionsList' | translate"
  >
    @for (institution of institutionsPaginated; track institution.id) {
    <mat-list-item
      tabindex="0"
      (click)="this.searchService.searchCoursesFromInstitution(institution.id)"
      (keydown.enter)="
        this.searchService.searchCoursesFromInstitution(institution.id)
      "
      (keydown.space)="
        this.searchService.searchCoursesFromInstitution(institution.id)
      "
      class="list-bullet-point"
    >
      <p class="font-bold !m-0">
        ({{ institution.dgesNumber }}) {{ institution.name }}
      </p>
      <p class="italic !m-0">{{ institution.type }}</p>
      <p class="italic !m-0">{{ institution.district }}</p>
    </mat-list-item>
    }
  </mat-selection-list>
  <!-- paginator -->
  <mat-paginator
    #institutionsPaginator
    class="demo-paginator"
    (page)="handlePageEventInstitutions($event)"
    [length]="this.searchService.institutionsFiltered().length"
    [showFirstLastButtons]="true"
    [pageSizeOptions]="
      this.searchService.getPageSizeOptions(
        this.searchService.institutionsFiltered().length
      )
    "
    [attr.aria-label]="'ariaLabels.pagination' | translate"
  >
  </mat-paginator>
</div>
