<!-- filters -->
<div class="filter-container">
  <!-- types -->
  <div class="md:col-span-4">
    <p class="filter-titles">{{ "filters.types" | translate }}:</p>
    <ul
      class="grid grid-col-1 gap-2"
      aria-label="Lista de tipos de instituições"
    >
      <li *ngFor="let type of typesInstitutions">
        <input
          type="checkbox"
          [checked]="institutionTypeFilter.includes(type)"
          (change)="
            commonSearchService.toggleFilters(type, institutionTypeFilter);
            filterInstitutions()
          "
          id="type-{{ type }}"
        />
        <label [for]="'type-' + type">{{ type }}</label>
      </li>
    </ul>
  </div>
  <!-- districts -->
  <div class="md:col-span-6">
    <p class="filter-titles">{{ "filters.districts" | translate }}:</p>
    <ul
      class="grid grid-col-1 md:grid-cols-4 gap-2"
      aria-label="Lista de distritos de instituições"
    >
      <li *ngFor="let district of districtsInstitutions">
        <input
          type="checkbox"
          [checked]="institutionDistrictFilter.includes(district)"
          (change)="
            commonSearchService.toggleFilters(
              district,
              institutionDistrictFilter
            );
            filterInstitutions()
          "
          id="district-{{ district }}"
        />
        <label [for]="'district-' + district">{{ district }}</label>
      </li>
    </ul>
  </div>
  <!-- name -->
  <div class="md:col-span-2">
    <p class="filter-titles">{{ "filters.name" | translate }}:</p>
    <mat-form-field class="example-form-field w-full">
      <input
        matInput
        type="text"
        [(ngModel)]="institutionNameFilter"
        (input)="filterInstitutions()"
        placeholder="{{ 'institutions.name' | translate }}"
        aria-label="Filtro por nome"
      />
      <button
        *ngIf="institutionNameFilter"
        matSuffix
        mat-icon-button
        aria-label="Limpar filtro de nome"
        (click)="institutionNameFilter = ''; filterInstitutions()"
      >
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </div>
</div>

<div class="list-container">
  <!-- loading and error messages -->
  <div
    *ngIf="
      (loadingInstitutions ||
        loadingTypesInstitutions ||
        loadingDistrictsInstitutions) &&
      seeingInstitutions
    "
  >
    <mat-spinner></mat-spinner>
    <p class="!m-5 text-center">{{ "institutions.loading" | translate }}</p>
  </div>
  <div *ngIf="errorInstitutions && seeingInstitutions">
    <p class="!m-5 text-center">{{ errorInstitutions }}</p>
  </div>
  <!-- list -->
  <ul
    [hidden]="
      loadingInstitutions ||
      loadingTypesInstitutions ||
      loadingDistrictsInstitutions ||
      errorInstitutions
    "
    aria-label="Lista de instituições"
  >
    <li
      *ngFor="let institution of institutionsPaginated"
      tabindex="0"
      (click)="this.triggerActionSearch.emit(institution.id)"
      (keydown.enter)="this.triggerActionSearch.emit(institution.id)"
      (keydown.space)="this.triggerActionSearch.emit(institution.id)"
      class="list-bullet-point"
    >
      <p class="font-bold !m-0">
        ({{ institution.id }}) {{ institution.name }}
      </p>
      <p class="italic !m-0">{{ institution.type }}</p>
    </li>
  </ul>
  <!-- paginator -->
  <mat-paginator
    #institutionsPaginator
    class="demo-paginator"
    (page)="handlePageEventInstitutions($event)"
    [length]="institutionsFiltered.length"
    [showFirstLastButtons]="true"
    [pageSizeOptions]="
      commonSearchService.getPageSizeOptions(institutionsFiltered.length)
    "
    [attr.aria-label]="'institutions.loading' | translate"
  >
  </mat-paginator>
</div>
