<p-table
  #institutionsTable
  [value]="searchService.institutions()"
  [paginator]="true"
  [rows]="5"
  [tableStyle]="{ 'width': '100%' }"
  [rowsPerPageOptions]="[5, 10, 20, 50]"
  dataKey="id"
  [loading]="
    searchService.loadingInstitutions() &&
    searchService.loadingTypesInstitutions() &&
    searchService.loadingDistrictsInstitutions()
  "
  [globalFilterFields]="['dgesNumber', 'name', 'type', 'district']"
  sortField="name"
  [sortOrder]="1"
  (onFilter)="onFilter($event)"
>
  <ng-template #caption>
    <div class="flex">
      <p-iconfield iconPosition="left" class="ml-auto">
        <p-inputicon>
          <i class="pi pi-search"></i>
        </p-inputicon>
        <input
          pInputText
          #filterInput
          type="text"
          (input)="
            institutionsTable.filterGlobal(filterInput.value, 'contains')
          "
          placeholder="Search keyword"
        />
      </p-iconfield>
    </div>
  </ng-template>
  <ng-template #header>
    <tr>
      <th style="width: 25%" pSortableColumn="dgesNumber">
        {{ "tables.dges" | translate }} <p-sortIcon field="dgesNumber" />
      </th>
      <th style="width: 25%" pSortableColumn="name">
        {{ "tables.name" | translate }} <p-sortIcon field="name" />
      </th>
      <th style="width: 25%" pSortableColumn="type">
        {{ "tables.type" | translate }} <p-sortIcon field="type" />
      </th>
      <th style="width: 25%" pSortableColumn="district">
        {{ "tables.district" | translate }} <p-sortIcon field="district" />
      </th>
    </tr>
    <tr>
      <th></th>
      <th>
        <p-columnFilter
          type="text"
          field="name"
          placeholder="Search by name"
          ariaLabel="Filter Name"
        ></p-columnFilter>
      </th>
      <th>
        <p-columnFilter field="type" matchMode="in" [showMenu]="false">
          <ng-template #filter let-value let-filter="filterCallback">
            <p-multiselect
              [(ngModel)]="selectedInstitutionTypes"
              [options]="searchService.typesInstitutions()"
              placeholder="Any"
              (onChange)="filter($event.value)"
              [panelStyle]="{ minWidth: '16rem' }"
            >
              <ng-template let-option #item>
                <div class="flex items-center gap-2">
                  <span>{{ option }}</span>
                </div>
              </ng-template>
            </p-multiselect>
          </ng-template>
        </p-columnFilter>
      </th>
      <th>
        <p-columnFilter field="district" matchMode="in" [showMenu]="false">
          <ng-template #filter let-value let-filter="filterCallback">
            <p-multiselect
              [(ngModel)]="selectedInstitutionDistricts"
              [options]="searchService.districtsInstitutions()"
              placeholder="Any"
              (onChange)="filter($event.value)"
              [panelStyle]="{ minWidth: '16rem' }"
            >
              <ng-template let-option #item>
                <div class="flex items-center gap-2">
                  <span>{{ option }}</span>
                </div>
              </ng-template>
            </p-multiselect>
          </ng-template>
        </p-columnFilter>
      </th>
    </tr>
  </ng-template>
  <ng-template #body let-institution>
    <tr>
      <td>{{ institution.dgesNumber }}</td>
      <td>{{ institution.name }}</td>
      <td>{{ institution.type }}</td>
      <td>{{ institution.district }}</td>
    </tr>
  </ng-template>
</p-table>
