<div class="flex flex-col items-center min-h-screen p-4 gap-6">
  <h2 class="text-center font-bold">
    {{ "auth.login" | translate }}
  </h2>

  <mat-form-field class="min-w-[40%]">
    <mat-label>{{ "auth.email" | translate }}</mat-label>
    <input
      matInput
      placeholder="LopesDaSilva@exemplo.com"
      [formControl]="email"
      (blur)="updateErrorMessage()"
      required
    />
    @if (email.invalid) {
      <mat-error>{{errorMessage()}}</mat-error>
    }
  </mat-form-field>

  <mat-form-field class="min-w-[40%]">
    <mat-label>{{ "auth.pw" | translate }}</mat-label>
    <input matInput [type]="hide() ? 'password' : 'text'" />
    <button
      mat-icon-button
      matSuffix
      (click)="hidePW($event)"
      [attr.aria-label]="'ariaLabels.hidePW' | translate"
      [attr.aria-pressed]="hide()"
    >
      <mat-icon>{{ hide() ? "visibility_off" : "visibility" }}</mat-icon>
    </button>
  </mat-form-field>

  <button mat-raised-button>{{ "auth.loginRequest" | translate }}</button>

  <p class="mt-10 text-center text-sm text-gray-500">
    <a href="#" class="font-semibold hover:font-bold hover:text-black">{{
      "auth.pwRecover" | translate
    }}</a>
    <br />
    {{ "auth.notRegistered" | translate }}
    <a
      routerLink="/register"
      class="font-semibold hover:font-bold hover:text-black"
      >{{ "auth.register" | translate }}</a
    >
  </p>
</div>
