<h1 class="mx-4 p-2">{{ post.title }}</h1>
<p-divider type="solid" />
<div class="card mx-4">
  <p-panel>
    <ng-template #header>
      <div class="flex items-center gap-2">
        <span class="font-bold">{{ post.author }}</span>
      </div>
    </ng-template>
    <ng-template #footer>
      <div class="flex flex-wrap items-center justify-between gap-4">
        <div class="flex items-center gap-2">
          <p-button icon="pi pi-heart" rounded text></p-button>
        </div>
        @if(post.updatedAt){
        <span class="text-surface-500 dark:text-surface-400">{{
          post.updatedAt
        }}</span>
        } @else{
        <span class="text-surface-500 dark:text-surface-400"
          >{{ post.createdAt }}o</span
        >
        }
      </div>
    </ng-template>
    @if(post.ownedByCurrentUser){
    <ng-template #icons>
      <p-button icon="pi pi-file-edit" severity="secondary" rounded text />
    </ng-template>
    }
    <p class="m-0">
      {{ post.content }}
    </p>
  </p-panel>
</div>
