@if(apiError()){
{{ "errors.details" | translate }}
}@else {
<p-dialog
  header="Header"
  [modal]="true"
  [(visible)]="visible"
  [style]="{ width: '50rem' }"
  [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
>
  <ng-template #header>
    <div class="inline-flex items-center justify-center gap-2">
      <span class="font-bold whitespace-nowrap">{{
        "dialog.newPost" | translate
      }}</span>
    </div>
  </ng-template>
  <app-post-form
    (closeDialog)="visible = false"
    (reloadDetails)="reloadDetails()"
    (onPostDeleted)="onPostDeleted()"
    [editingPost]="post"
  ></app-post-form>
</p-dialog>

<h1 class="mt-3 mx-4 py-2 px-4 text-4xl">{{ post.title }}</h1>
<p-divider type="solid" />
<div class="card mx-4">
  <p-panel>
    <ng-template #header>
      <div class="flex items-center gap-2">
        <span class="font-bold">{{ post.author }}</span>
      </div>
    </ng-template>
    <ng-template #footer>
      <div class="flex flex-wrap items-center justify-between gap-4">
        <div class="flex items-center gap-2">
          {{ currentLikes() }}
          @if(this.likedByUser()){
          <p-button
            icon="pi pi-heart-fill"
            (click)="dislikePost()"
            rounded
            text
          ></p-button>
          }@else {
          <p-button
            icon="pi pi-heart"
            (click)="likePost()"
            rounded
            text
          ></p-button>
          } @if(post.ownedByCurrentUser){
          <p-button
            icon="pi pi-file-edit"
            severity="secondary"
            (click)="showDialog()"
            rounded
            text
          />
          }
        </div>
        @if(post.updatedAt){
        <span class="text-surface-500 dark:text-surface-400">
          {{ "panel.updatedAt" | translate }}
          {{ post.updatedAt | date : "dd/MM/yyyy HH:mm" }}
        </span>
        } @else{
        <span class="text-surface-500 dark:text-surface-400">
          {{ "panel.createdAt" | translate }}
          {{ post.createdAt | date : "dd/MM/yyyy HH:mm" }}</span
        >
        }
      </div>
    </ng-template>
    <p class="m-0">
      {{ post.content }}
    </p>
  </p-panel>
</div>

}
