<div class="p-8">
  <h1 class="font-bold pb-4">{{ "technicalFile.title" | translate }}</h1>

  <h2 class="font-bold">{{ "technicalFile.section1Title" | translate }}</h2>
  <a href="https://www.linkedin.com/in/joaormorais/"
    >https://www.linkedin.com/in/joaormorais/</a
  >
  <br />
  <h2 class="font-bold pt-2">{{ "technicalFile.section2Title" | translate }}</h2>
  <p>{{ "technicalFile.section2Body" | translate }}</p>

  <h2 class="font-bold pt-2">{{ "technicalFile.section3Title" | translate }}</h2>
  <p>{{ "technicalFile.section3Body" | translate }}</p>
  <a href="https://www.linkedin.com/in/joaormorais/"
    >https://www.linkedin.com/in/joaormorais/</a
  >
</div>
