.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .button-row-first {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }

  .button-row-second {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
 
  .button-left {
    margin-right: 15vh;
    margin-bottom: 15vh;
  }

  .button-right {
    margin-left: 15vh;
    margin-bottom: 15vh;
  }
  .button-bellow {
    margin-top: 15vh;
  }