<div class="grid grid-cols-3">
  <div
    class="column-container"
    routerLink="/search"
    [attr.aria-label]="'ariaLabels.search' | translate"
  >
    <div class="image-container">
      <img
        src="/assets/images/landing/search.jpg"
        alt="Search background"
        class="w-full h-full object-cover"
      />
    </div>
    <div class="overlay"></div>
    <div class="paragraph-container">
      <p class="landing-text">
        {{ "paragraphs.searchP" | translate }}
      </p>
      <mat-icon
        class="paragraph-icon"
        aria-hidden="false"
        [attr.aria-label]="'ariaLabels.nextIcon' | translate"
        fontIcon="arrow_right_alt"
      ></mat-icon>
    </div>
  </div>

  <div
    class="column-container"
    routerLink="/forum"
    [attr.aria-label]="'ariaLabels.forum' | translate"
  >
    <div class="image-container">
      <img
        src="/assets/images/landing/forum.jpg"
        alt="Forum background"
        class="w-full h-full object-cover"
      />
    </div>
    <div class="overlay"></div>
    <div class="paragraph-container">
      <p class="landing-text">
        {{ "paragraphs.forumP" | translate }}
      </p>
      <mat-icon
        class="paragraph-icon"
        aria-hidden="false"
        [attr.aria-label]="'ariaLabels.nextIcon' | translate"
        fontIcon="arrow_right_alt"
      ></mat-icon>
    </div>
  </div>

  <div
    class="column-container"
    routerLink="/help"
    [attr.aria-label]="'ariaLabels.help' | translate"
  >
    <div class="image-container">
      <img
        src="/assets/images/landing/help.jpg"
        alt="Help background"
        class="w-full h-full object-cover"
      />
    </div>
    <div class="overlay"></div>
    <div class="paragraph-container">
      <p class="landing-text">
        {{ "paragraphs.helpP" | translate }}
      </p>
      <mat-icon
        class="paragraph-icon"
        aria-hidden="false"
        [attr.aria-label]="'ariaLabels.nextIcon' | translate"
        fontIcon="arrow_right_alt"
      ></mat-icon>
    </div>
  </div>
</div>
